.collectionItem{
    display: flex;
    flex-direction: column;
    min-width: 22%;
    height: 300px;
    margin: 10px 10px;
    border:1px solid black;
   

    .image{
        width: 100%;
        height:95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .collectionFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 5%;
        margin-bottom: 5px;
        font-size: 18px;
    }
}